<image wx:if="{{wxCompName === 'image'}}" class="wx-comp-image" src="{{src}}" mode="widthFix" bindload="onImgLoad" binderror="onImgError" />
<canvas wx:elif="{{wxCompName === 'canvas'}}" class="wx-comp-canvas" canvas-id="{{canvasId}}"></canvas>
<input wx:elif="{{wxCompName === 'input'}}" class="wx-comp-input" type="{{type}}" value="{{value}}" disabled="{{disabled}}" maxlength="{{maxlength}}" password="{{type === 'password'}}" bindinput="onInputInput" bindblur="onInputBlur" bindfocus="onInputFocus"></input>
<block wx:for="{{children}}" wx:key="nodeId">
  <plain-text wx:if="{{item.type === 'text'}}" data-private-node-id="{{item.nodeId}}" data-private-page-id="{{item.pageId}}" content="{{item.content}}" />
  {{DATA}}
</block>
